.bz-tip {
  &-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &-title {
    margin-bottom: 80px;
    font-family: fantasy;
    font-size: 100px;
    font-weight: bold;
    color: #393939;
    letter-spacing: 4px;
  }

  &-txt {
    font-size: 32px;
    color: #363636;
  }
}