$drop-sub-area-height: 400px;

.bz-task-drop-area {
  &-container {
    // TODO
    display: none;
    z-index: 1;
  }

  &-top-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - #{$drop-sub-area-height});
    // TODO
    // background-color: #f00;
    opacity: .3;

    &.edit {
      left: 0;
    }

    &.confirm {
      right: 0;
    }
  }

  &-sub-area {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 50%;
    height: $drop-sub-area-height;
    background-color: #000;
    opacity: .3;

    &.edit {
      left: 0;
      border-right: 1px solid #fff;
    }

    &.confirm {
      right: 0;
    }
  }

  &-edit-highlight {
    background-color: var(--color-info);
  }

  &-confirm-highlight {
    background-color: var(--color-done);
  }
}