$task_card_size: 340px;

@keyframes ani_task_card_active_breath {
  from {
    box-shadow: var(--color-card-shadow);
  }

  to {
    box-shadow: var(--color-tips-shadow);
  }
}

.bz-unit-task-card {
  &-item {
    position: absolute;
    width: $task_card_size;
    height: $task_card_size;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    z-index: 2;

    &.cls-card-active {
      &>div.bz-unit-task-card-item-inner {
        animation: ani_task_card_active_breath 1s infinite alternate;
      }
    }
  }

  &-item-inner {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: var(--color-bgc);
    box-shadow: var(--color-card-shadow);
    color: white;
    border-radius: 8px;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
  }

  &-item-inner-shadow-top {
    position: absolute;
    top: 23px;
    left: 24px;
    width: calc(100% - 48px - 6px);
    height: 30px;
    background: linear-gradient(var(--color-bgc), var(--color-bgc-0));
    z-index: 12;
  }

  &-item-inner-shadow-bottom {
    position: absolute;
    bottom: 23px;
    left: 24px;
    width: calc(100% - 48px - 6px);
    height: 30px;
    background: linear-gradient(var(--color-bgc-0), var(--color-bgc));
    z-index: 12;
  }

  &-item-body {
    box-sizing: border-box;
    position: relative;
    width: calc(100% - 48px);
    height: calc(100% - 48px);
    margin: 24px;
    padding: 6px 0 24px 0;
    box-shadow: inset 0px 15px 10px -15px var(--color-bgc);
    overflow: auto;
    z-index: 11;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-bgc-darker);
      border-radius: 3px;
    }
  }

  &-item-btn {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 66px;
    height: 36px;
    padding: 8px 16px;
    outline-width: 0px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    border: 1px solid rgb(4, 125, 183);
    border-radius: 100px;
    background: rgba(0, 0, 0, 0);
    color: rgb(168, 199, 250);
    font-weight: 500;
    line-height: 20px;

    &:hover {
      background-color: rgba(227, 227, 227, 0.08);
    }
  }
}