:root {
  /* color */
  --color-info: #007fff;
  --color-done: #3cb371;
  --color-remove: #e32636;

  --color-bgc: rgb(41, 42, 45);
  --color-bgc-0: rgba(41, 42, 45, 0);
  --color-bgc-darker: #212121;
  --color-border-color: rgb(60, 60, 60);
  --color-card-shadow: color(srgb 0 0 0 / 0.3) 0px 1px 2px 0px, color(srgb 0 0 0 / 0.15) 0px 2px 6px 2px;
  /*  */
  --color-tips-shadow: 0px 0px 6px #ddd;
}

html,
body,
#root,
.cls-new-tab-task,
.cls-new-tab-excalidraw {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-bgc);
  overflow: hidden;
  box-sizing: border-box;
}

/* New Tab ----------------------------------------------- */
.markdown-body {
  background-color: transparent;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0.25em !important;
  }
}

/* Dialog ----------------------------------------------- */
dialog::backdrop {
  /* background-color: rgba(0, 0, 0, 0.5); */
  backdrop-filter: blur(3px);
}
